*{
    margin: 0%;
    box-sizing: border-box;
}

body{
  /*background-color: #ffe6ee;*/
  background-image: url(../assets/fondos/segundofondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  /*padding: 60px 20px;*/
}
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/*-------MENU----------*/
#menu {
  width: 100%;

  /*background-color: #ffe6ee;*/

  position: relative;
  z-index: 3;
}

#menu .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.menu-izq img {
  max-width: 260px; /* Ajusta a lo que te funcione visualmente */
  height: auto;
  object-fit: contain;
}

.menu-der a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;

  font-size: 1rem;
}

/*--------Bienvenida-------*/
#bienvenida{
    display: flex;
    position: relative; /*?*/
    align-items: center;
    justify-content: center;
    height: 80vh;
    z-index: 1;
    /*background-color: #ffe6ee;*/
    margin-top: -80px;
    flex-wrap: wrap;
    min-height: 80vh;

    padding: 00px 20px;
    gap: 20px;
    height: auto;
}

#imagen-bienvenida{
    flex: 1 1 300px;
    display: flex;
    justify-content: flex-end;
    /*position: relative;
    z-index: 2;*/
}

#imagen-bienvenida img{
    width: 80%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
    /*transform: translateX(-40%);*/
}


#texto-bienvenida{
  flex: 1 1 300px;
  font-size: 3rem;
  font-weight: bold;
  color: #000;
  text-align: left;
  padding-left: 1rem;
  /*z-index: 2;*/
}

/*-------Novedades-------*/
#novedades {
  background-color: #DE2D64;
  padding: 80px 0 40px;
  text-align: center;

  position: relative;
  z-index: 1;
}

.titulo-novedades {
  background-color: #f72c73; /* Rosa fuerte */
  border: 6px solid #fff;     /* Contorno blanco */
  border-radius: 40px;
  padding: 10px 50px;
  display: inline-block;
  /*margin: 40px auto;*/
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);

  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

}

.titulo-novedades h2 {
  color: #fff;
  font-weight: 900;
  font-style: italic;
  font-size: 1.8rem;
  margin: 0;
}

.carousel-inner img {
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  max-height: 400px;
  object-fit: cover;
  width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-control-prev-icon{
  background-image: url('https://cdn-icons-png.flaticon.com/512/271/271220.png');
}

.carousel-control-next-icon{
  background-image: url('https://cdn-icons-png.flaticon.com/512/271/271228.png');
}

.carousel-control-prev, 
.carrosel-control-next{
  width: 5%;
}

/*---------Donas----------*/
#seccion-donas{
  background-color: #ffe6ee;
  background-image: url(../assets/fondos/segundofondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  padding: 60px 20px;
}

.titulo {
  background-color: #ffe6ee;
  padding: 50px 20px;
  justify-content: center;
  display: flex;
}

 h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.grid-donas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  max-width: 900px; /* Ajusta si tus cards son más anchas */
  margin: 0 auto 40px auto;
}

.dona-card {
  background-color: #fff;
  border-radius: 0px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dona-card:hover {
  transform: scale(1.03);
}

.dona-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.dona-card p {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.ver-donas-container {
  text-align: center;
}

.btn-donas {
  margin: 20px;
  display: inline-block;
  padding: 15px 30px;
  background-color: #f72c73;
  color: white;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-donas:hover {
  background-color: #d8185b;
}



.img-fondo {
  background-color: #f8e6f5; /* Fondo blanco tipo marco */
  border-radius: 0px;
  padding: 10px; /* Hace de borde/marco */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px; /* o el alto que tú quieras para el marco */
}

.img-fondo img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/*---------Footer----------*/
footer {
    background-color: #d8185b;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-redes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-redes img {
    width: 30px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
}

.footer-links a img {
    width: 20px;
}



/*Tablet*/
@media (max-width: 768px){
    #menu{
        /*display: block;
        flex-direction: center;
        align-items: center;
        text-align: center;
        gap: 10px;*/
    }

    #bienvenida {
        /*flex-direction: column;
        height: auto;
        margin-top: 0;
        text-align: center;*/
    }

    #imagen-bienvenida img {
      /*justify-content: center;*/
    }

    #texto-bienvenida {
       /*text-align: center;
       padding-left: 0;
       font-size: 2rem;*/
    }

    .grid-donas {
    /*grid-template-columns: 1fr;*/
  }
}